---
// import { getCollection, getEntryBySlug } from 'astro:content';
// const allChapters = await getCollection('chapters')

const items = await Astro.glob(['../content/chapters/*.md']);
console.log(items)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		{items.map(({ Content }) =>
            <Content />
        )}
	</body>
</html>
